In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=200)

df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1,2021-01-01 00:12:48,2021-01-01 00:27:14,1,4.10,1,N,249,142,1,14.5,3.0,0.5,5.45,0.0,0.3,23.75,2.5
196,2,2021-01-01 00:20:29,2021-01-01 00:32:56,1,2.96,1,N,239,229,1,12.0,0.5,0.5,3.16,0.0,0.3,18.96,2.5
197,2,2021-01-01 00:59:24,2021-01-01 01:22:59,1,7.35,1,N,48,195,1,23.0,0.5,0.5,5.36,0.0,0.3,32.16,2.5
198,1,2021-01-01 00:32:58,2021-01-01 00:40:59,3,2.50,1,N,142,75,1,9.5,3.0,0.5,2.50,0.0,0.3,15.80,2.5
199,1,2021-01-01 00:41:19,2021-01-01 00:49:39,1,2.70,1,N,230,145,1,10.0,3.0,0.5,2.75,0.0,0.3,16.55,2.5

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
test =engine.connect()

In [4]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [5]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [6]:
for df in df_iter:
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name = 'yellow_taxi_data', con=engine, if_exists='append')
    print('inserted chunk')

inserted chunk
inserted chunk
inserted chunk
inserted chunk
inserted chunk
inserted chunk
inserted chunk
inserted chunk
inserted chunk
inserted chunk
inserted chunk
inserted chunk

C:\Users\Francis\AppData\Local\Temp\ipykernel_20948\2101903671.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in df_iter:

inserted chunk
inserted chunk

In [7]:
test.close()
engine.dispose()